<div>

    <h2>Update Post</h2>
    <hr/>
    <form [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
        <div>
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title"/>
        </div>
        <div>
            <label>Description</label>
            <textarea type="text" class="form-control" formControlName="description"></textarea>
        </div>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

</div>